<h1>Note Index</h1>
<a mat-raised-button color="primary" routerLink="/note/create">Create New Note</a>
<hr>

<div>
  <mat-table #data [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames"></mat-row>

    <ng-container matColumnDef="NoteId">
      <mat-header-cell *matHeaderCellDef>Note #</mat-header-cell>
      <mat-cell *matCellDef="let note">{{note.NoteId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let note">{{note.Title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="IsStarred">
      <mat-header-cell *matHeaderCellDef>Favorite</mat-header-cell>
      <mat-cell *matCellDef="let note">
          <button mat-icon-button disabled>
              <i class="material-icons" (click)="isStarred(note, $event)" disabled>star</i>
          </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="CreatedUtc">
      <mat-header-cell *matHeaderCellDef>Created</mat-header-cell>
      <mat-cell *matCellDef="let note">{{note.CreatedUtc | date:'fullDate'}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let note">
          <i mat-icon class="material-icons" routerLink="/note/detail/{{note.NoteId}}">library_books</i>
          <i mat-icon class="material-icons" routerLink="/note/edit/{{note.NoteId}}">edit</i>
          <i mat-icon class="material-icons" routerLink="/note/delete/{{note.NoteId}}">delete</i>
      </mat-cell>
    </ng-container>
  </mat-table>
</div>
