<h1>Register</h1>
<h4>Create A New Account</h4>
<hr />
<!-- What is type in html https://www.w3schools.com/tags/att_input_type.asp -->
<!-- () == binding an item from the view -->
<!-- [] = accessing items from the controller -->
<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" type="email" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" type="password" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" required />
      </mat-form-field>
    </div>
  </div>
  <button mat-raise-button class="nav-btn" color="primary" type="submit">Register Account</button>
</form>
